<!DOCTYPE html>
<html>

<head>
    <title>chat overlay</title>
    <link rel="preload" href="<%=app_url%>/NotoColorEmoji-Regular.woff2" as="font" type="font/woff2" /> 
    <link rel="style" href="<%=app_url%>/css-reset.css" />
    <link rel="stylesheet" href="<%=app_url%>/chat-overlay.css" />
    <link rel="stylesheet" href="<%=app_url%>/emoji-font.css" />
    <!-- Ask Ruffy if this needs any adaptation -->
    <!-- <% if (enableAnalytics) { %>
        <script defer data-api="<%=analyticsDataEndpoint%>" data-domain="<%=analyticsDomain%>" src="<%=analyticsScriptSource%>"></script>
    <% } %> -->
</head>

<body>
    <div id="container"></div>
    
    <script defer src="<%=app_url%>/socket.io/socket.io.js"></script>
    <script nonce="<%=nonce%>">
        window.addEventListener('DOMContentLoaded', (event) => {
            const clientConfig = <%- JSON.stringify(client_config) %>;
            
            const socket = io('<%=sockets_host%>', {
                path: '<%=sockets_prefix%>/socket.io',
                query: {
                    token: '<%=token%>',
                    feature: '<%=feature%>',
                }
            });

            function intToHexColor(intValue) {
                // Ensure the input is within the valid range for colors
                if (intValue < 0 || intValue > 0xFFFFFF) {
                    throw new Error('Integer value out of range (must be between 0 and 16777215)');
                }
                
                // Convert integer to hex string
                let hexString = intValue.toString(16).toUpperCase();
                
                // Pad with leading zeros if necessary to ensure 6 characters
                while (hexString.length < 6) {
                    hexString = '0' + hexString;
                }
                
                return '#' + hexString;
            }

            function buildMessageHtml(msg) {
                const messageContainerDiv = document.createElement('div');
                messageContainerDiv.className = 'chat-message-container';
                messageContainerDiv.setAttribute('data-messageid', msg.eventData.id);

                const userDiv = document.createElement('div');
                userDiv.className = 'user';
                userDiv.setAttribute('data-userid', msg.eventData.user.id);
                // userDiv.style.color = intToHexColor(msg.eventData.user.displayColor);
                userDiv.innerText = msg.eventData.user.displayName;

                const messageDiv = document.createElement('div');
                messageDiv.className = 'message';
                messageDiv.innerHTML = msg.eventData.body;

                // Fix image paths in message
                const images = messageDiv.querySelectorAll('img');
                images.forEach((img) => {
                    const src = img.getAttribute('src');
                    img.setAttribute('src', image_host + src);
                });

                messageContainerDiv.appendChild(userDiv);
                messageContainerDiv.appendChild(messageDiv);
                
                return messageContainerDiv;
            }

            const image_host = atob('<%=images_host%>');
            const messageCollection = [];
            /* Example message received from the server
            {
                "type": "CHAT",
                "eventData": {
                    "user": {
                        "id": "qSRQpeM7R",
                        "displayName": "lazyDaisy",
                        "displayColor": 182,
                        "createdAt": "2021-08-12T07:51:37.470812684Z",
                        "previousNames": ["lazyDaisy"],
                        "nameChangedAt": "2022-09-19T12:33:59.42313245+02:00",
                        "isBot": false,
                        "authenticated": false
                    },
                    "clientId": 2,
                    "body": "hello world \u003cimg class=\"emoji\" alt=\":beerparrot:\" title=\":beerparrot:\" src=\"/img/emoji/beerparrot.gif\"\u003e",
                    "rawBody": "hello world \u003cimg class=\"emoji\" alt=\":beerparrot:\" title=\":beerparrot:\" src=\"/img/emoji/beerparrot.gif\"\u003e",
                    "id": "j-rXteG7R",
                    "visible": true,
                    "timestamp": "2021-08-12T07:53:12.061982913Z"
                }
            }

            */
            socket.on("new_message", (msg) => {
                console.log("New message!", msg);
                // Keep 25 messages max
                if (messageCollection.length > 25) {
                    const removedMessage = messageCollection.shift();
                    removedMessage.remove();
                }
                let messageHtml = buildMessageHtml(msg);
                messageCollection.push(messageHtml);
                document.getElementById('container').appendChild(messageHtml);
            });
        });
    </script>
</body>
</html>