<!DOCTYPE html>
<html>

<head>
    <title>emoji wall</title>
    <link rel="preload" href="<%=app_url%>/NotoColorEmoji-Regular.woff2" as="font" type="font/woff2" /> 
    <link rel="stylesheet" href="<%=app_url%>/emoji-wall.css" />
    <link rel="stylesheet" href="<%=app_url%>/emoji-font.css" />
    <% if (enableAnalytics) { %>
        <script defer data-api="<%=analyticsDataEndpoint%>" data-domain="<%=analyticsDomain%>" src="<%=analyticsScriptSource%>"></script>
    <% } %>
</head>

<body>
    <div id="container" class="container">
        <div id="particles" class="particles"></div>
    </div>
    <script defer src="<%=app_url%>/socket.io/socket.io.js"></script>
    <script defer src="<%=app_url%>/emoji-wall.js"></script>
    <script nonce="<%=nonce%>">
        window.addEventListener('DOMContentLoaded', (event) => {
            const clientConfig = <%- JSON.stringify(client_config) %>
            initializeEmojiwall(clientConfig);
            
            var socket = io('<%=sockets_host%>', {
                path: '<%=sockets_prefix%>/socket.io',
                query: {
                    token: '<%=token%>',
                    feature: '<%=feature%>',
                }
            });
            const image_host = atob('<%=images_host%>');
            socket.on("new_emojis", (msg) => {
                // New emojis received !
                addEmojis(JSON.parse(msg), image_host);
            });
        });
    </script>
</body>

</html>