<!DOCTYPE html>
<html>

<head>
    <title>smol.stream 😍 Emoji wall for smol Owncast streamers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="smol.stream 😍 Emoji wall for smol Owncast streamers." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%=app_url%>/smol.stream-logo.png" />
    <meta property="og:url" content="<%=app_url%>" />
    <!-- <meta property="og:description" content="" /> -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="smol.stream 😍 Emoji wall for smol Owncast streamers." />
    <!-- <meta name="twitter:description" content="" /> -->
    <meta name="twitter:image" content="<%=app_url%>/smol.stream-logo.png" />
    <link rel="stylesheet" href="<%=app_url%>/mvp.css?<%=code_version%>" />
    <link rel="stylesheet" href="<%=app_url%>/emoji-wall.css?<%=code_version%>" />
    <link rel="stylesheet" href="<%=app_url%>/homepage.css?<%=code_version%>" />
    <% if (enableAnalytics) { %>
        <script defer data-api="<%=analyticsDataEndpoint%>" data-domain="<%=analyticsDomain%>" src="<%=analyticsScriptSource%>"></script>
    <% } %>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <img id="logo" src="<%=app_url%>/smol.stream-logo.png?<%=code_version%>" />
            <h1>On-screen emotes for Owncast!</h1>
        </div>
        <div class="intro">
            <h2>Hey there!</h2>
            <p>Are you a streamer, and do you use <a href="https://owncast.online">Owncast</a>? Then we have something
                special for you!</p>
            <p>
                We made an emoji wall (also known as a "on-screen emotes overlay") which takes the emojis and custom
                emotes sent in the chat and displays them bubbling up the screen!
            </p>
            <p>
                If you're interested, great! We made this emoji token just for you:
                <span class="emoji token_display"><%=token%></span>
                You will use it to set up your own emoji wall below!
            </p>


        </div>
        <h2>Instructions</h2>
        <p>
            It's easy! You only need to configure <a href="https://obsproject.com/eu/kb/browser-source">a browser source
                in OBS Studio</a>, and <a href="https://owncast.online/thirdparty/webhooks/#how-to-accept-webhooks">a
                webhook in Owncast</a>.
        </p>
        <p>Keep reading for step-by-step instructions. You can also check out <a href="https://tube.tchncs.de/w/pDLXZs4iwS2uju7qspBm8J">📺 a two minutes video tutorial</a> or read <a href="/emojiwall#faq">📘 the FAQ</a>. If
            you need help, reach out on the Fediverse at <a
                href="https://mstdn.social/@lefractal">🦣 @lefractal@mstdn.social</a> or send en email to <a
                href="mailto:support@smol.stream">📧 support@smol.stream</a>.</p>

        <h3 id="step-1-fill-in-your-owncast-instances-address">Step 1: Fill in you Owncast instance's address</h3>
        <p id="step-1">
            Fill in the URL of your Owncast server below, including "http://" or "https://" and any custom port:
            <input type="url" id="input-owncast-hostname" class="element-updater" placeholder="https://stream.example.com"
                data-displayelement="owncast-hostname-display">
            <small><a href="#why-do-you-need-my-instance-s-url-">Why do we need this?</a></small>
        </p>
        <h3>Step 2: Add your emoji wall to OBS Studio</h3>

        In OBS Studio:
        <ol type="a">
            <li>
                Add a <em>Browser Source</em> to your scene.
            </li>
            <li>
                In the properties window for the source, paste the following address into the <em>'URL'</em>
                field: <noscript>Don't forget to replace <em>your_owncast_domain</em> with your actual domain
                    name!</noscript>
                <span class="empty-input-error">
                    <span class="emojicon">🤖</span> Remember to fill in your Owncast's instance address <a
                        href="#step-1-fill-in-your-owncast-instances-address">in step 1 above</a> first!
                </span>
                <div class="url-wrapper">
                    <code
                        class="copyable"><%=app_url%>/<%=token%>/<span class="owncast-hostname-display" data-displayproperty="innerHTML" data-displayplaceholder="" data-displayformat="base64"></span>/</code>
                </div>
            </li>
            <li>
                Set the <em>width</em> and <em>height</em> to the size of your OBS canvas (e.g. width: '1920'
                and height: '1080').
            </li>
            <li>
                Save the new source by clicking the <em>'OK'</em> button.
            </li>
        </ol>
        <span class="info">
            <span class="emojicon">🤯</span> You can customize some of the emoji wall parameters such as emoji size and speed. <a href="#can-i-customize-my-emoji-wall">See this FAQ entry to learn how.</a>
        </span>


        <h3>Step 3: Tell Owncast where to send emojis</h3>
        <ol>
            <li id="owncast-config-list-item">Go to the webhooks page in your Owncast admin
                area <a
                class="owncast-hostname-display" data-displayprepend="" data-displayappend="/admin/webhooks"
                data-displayproperty="href" data-displayplaceholder="" data-displaynoneifempty="true"
                data-displayformat="original" href=""> <span
                    style="color: rgb(197, 195, 193); text-decoration: none; font-weight: normal;">(</span>/admin/webhooks<span
                    style="color: rgb(197, 195, 193); text-decoration: none; font-weight: normal;">)</span></a>.</li>
            <li>Click the <em>'Create webhook'</em> button.</li>
            <li>
                Paste this URL in the input:<br>
                <span class="empty-input-error">
                    <span class="emojicon">🤖</span> Remember to fill in your Owncast's URL in the input field above first!
                </span>
                <div class="url-wrapper">
                    <code
                        class="copyable"><%=app_url%>/<%=token%>/<span class="owncast-hostname-display" data-displayproperty="innerHTML" data-displayplaceholder="" data-displayformat="base64"></span>/</code>
                </div>
            </li>
            <li>Check the box for <em>'When a user sends a chat message'</em>.</li>
            <li>Save the webhook config by clicking the <em>'OK'</em> button.</li>
        </ol>

        <h3><span class="emojicon">🥳🎉</span> That's it!</h3>
        <p>
            It's done! All emojis and custom emotes sent in your Owncast chat should now show up in your OBS Studio and
            on your stream!
            <br />
            If you need any help, reach out on the Fediverse at <a
                href="https://mstdn.social/@lefractal">@lefractal@mstdn.social</a> or send en email to <a
                href="mailto:support@smol.stream">support@smol.stream</a>.
        </p>
        <hr />
        <h2 id="faq">FAQ</h2>
        <h3>What is Owncast?</h3>
        <p><a href="https://owncast.online">From their website:</a> <em>"Owncast is a free and open source live video
                and web chat server for use with existing popular broadcasting software."</em></p>
        <p>Why would you use it?
        <ul>
            <li>You become independent from any platform such as Twitch or Youtube;</li>
            <li>It respects your privacy as well as your users' privacy;</li>
            <li>You can host it on cheap hardware, or even at home <a href="https://yunohost.org/">with Yunohost</a>;
            </li>
            <li>It is fully compatible with OBS.</li>
        </ul>
        </p>
        <h3 id="why-do-you-need-my-instance-s-url-">Why do you need my instance&#39;s URL?</h3>
        <p>Owncast does not send the absolute address of custom emotes (e.g. <em>"https://foo.com/path/emote.gif"</em>),
            but only the relative address (e.g. <em>"/path/emote.gif"</em>).</p>
        <p>Thus, we need to know where your instance resides in order to display these images.</p>
        <h3 id="are-you-receiving-every-message-sent-in-my-chat-">Are you receiving every message sent in my chat?</h3>
        <p>Yes, we are. But we discard each message as soon as we have extracted the emojis from it, and don&#39;t use
            it for anything else.</p>
        <h3 id="do-i-need-to-use-the-web-interface-to-setup-the-emoji-wall-">Do I need to use the web interface to setup
            the emoji wall?</h3>
        <p>You don&#39;t! The web interface is only a handy tool you can use to generate the URL you need to setup the
            webhook and browser source. You can generate the URL yourself:</p>
        <p><code>https://smol.stream/emojiwall/</code> <strong>+</strong> a secret token <strong>+</strong> <code>/</code>
            <strong>+</strong> Your Owncast instance&#39;s URL in base64 encoding.</p>
        <p>The secret token can be any string you chose. You should keep it a secret because anyone knowing it can send
            emojis to your emoji wall!</p>
        <h3 id="can-i-send-emojis-to-my-wall-directly-without-posting-in-the-owncast-chat-">Can I send emojis to my wall
            directly without posting in the Owncast chat?</h3>
        <p>Yes, you can POST emojis directly to the emoji wall following this example:</p>
        <code class="lang-bash" style="text-align: left">curl -X POST --header "Content-Type: application/json" --data '{"eventData":{"body":"😀💙"}}' $EMOJIWALL_URL
</code>
        <h3>Can I use the emoji wall with other broadcasting software?</h3>
        <p>
            Probably. However we have not tested it with anything else than OBS Studio! If your software can embed web
            content, you should be good to go.
        </p>
        <h3 id="can-i-host-my-own-emoji-wall-instead-of-using-this-site-">Can I host my own emoji wall instead of using
            this site?</h3>
        <p>Of course! The emoji wall is free software and can be found <a
                href="https://framagit.org/owncast-things/owncast-emojiwall">in our git repository</a>. You can find detailed instructions about self-hosting the emoji wall in <a href="https://blog.rtrace.io/posts/emojiwall-getting-started/">Ruffy's excellent blog post</a>.</p>
        <h3 id="can-i-customize-my-emoji-wall">How can I customize my emoji wall?</h3>
        <h4>Built-in settings</h4>
        <p>There are a few things you can customize such as the size and speed of the emojis, by adding parameters to the URL you use to setup the browser source in OBS Studio. The following parameters are supported:</p>
        <ul>
            <li><code>minsize</code>: The minimum size of the emojis in pixels.</li>
            <li><code>maxsize</code>: The maximum size of the emojis in pixels.</li>
            <li><code>mintime</code>: The minimum time the emojis take to cross the screen, in seconds.</li>
            <li><code>maxtime</code>: The maximum time the emojis take to cross the screen, in seconds.</li>
            <li><code>maxcount</code>: The maximum number of emojis to display at the same time.</li>
            <li><code>effect-rotation</code>: Set to <code>1</code> to make emojis slightly rotate as they travel up the screen. Depending on your configuration and the number of emojis, this can be ressource intensive —but it looks great!</li>
        </ul>
        <p>Example:</p>
        <code>
            https://smol.stream/emojiwall/🎥🥳💾❤️/aGV5IQ==/<b>?minsize=20&maxsize=40&mintime=5&maxtime=10&effect-rotation=1</b>
        </code>
        <h4>Custom CSS</h4>
        <p>You can also add custom css in the properties of the OBS browser source.<br />All emojis elements have the <code>.emoji_item</code> class. Unicode emojis are <code>span.emoji_item</code>, while custom emotes are <code>img.emoji_item</code>.</p>


        <hr />
        <p id="credits">The smol.stream emoji wall is <a
                href="https://framagit.org/owncast-things/owncast-emojiwall/">free libre software</a> brought to you
            with 🥰❤️ by Hejo, ruffy and Le fractal. Special thanks to Tasartir, cptbichez, Morado and the Owncast
            development team! 🙏</p>
        <p id="version"><a href="https://framagit.org/owncast-things/owncast-emojiwall/-/releases/<%=code_version%>"">Emojiwall <%=code_version%>
            </a></p>
    </div> <!-- wrapper -->

    <div id="container" class="container">
        <div id="particles" class="particles"></div>
    </div>
    <button id="copybutton_template" class="copy" title="Copy to clipboard">
        📋
    </button>
    <script>
        function base64EncodeUnicode(str) {
            // https://www.w3docs.com/snippets/javascript/how-to-encode-and-decode-strings-with-base64-in-javascript.html
            // Firstly, escape the string using encodeURIComponent to get the UTF-8 encoding of the characters, 
            // Secondly, we convert the percent encodings into raw bytes, and add it to btoa() function.
            utf8Bytes = encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
                return String.fromCharCode('0x' + p1);
            });

            return btoa(utf8Bytes);
        }
        const elementUpdaters = document.getElementsByClassName("element-updater");
        function autoupdate_elements(trigger_element) {
            const displayElements = document.getElementsByClassName(trigger_element.dataset.displayelement);
            for (let j = 0; j < displayElements.length; j++) {
                displayElements[j].style.display = (trigger_element.value === "" && (displayElements[j].dataset?.displaynoneifempty ?? "") === "true") ? "none" : "unset";
                // check if we want to append anything
                const newText = (displayElements[j].dataset?.displayprepend ?? "") + trigger_element.value + (displayElements[j].dataset?.displayappend ?? "");
                displayElements[j][displayElements[j].dataset.displayproperty] = (trigger_element.value !== "") ? newText : displayElements[j].dataset.displayplaceholder;
                const displayFormat = displayElements[j].dataset?.displayformat ?? "";
                if (displayFormat == "base64") {
                    // Encode value only if it's not the placeholder
                    if ((displayElements[j][displayElements[j].dataset.displayproperty] !== displayElements[j].dataset?.displayplaceholder ?? "")) {
                        displayElements[j][displayElements[j].dataset.displayproperty] = base64EncodeUnicode(displayElements[j][displayElements[j].dataset.displayproperty]);
                    }
                }

            }
        }

        function change_hint_visibility(trigger_element) {
            const hint_elements = document.getElementsByClassName('empty-input-error');
            const visibility = trigger_element.value == "" ? 'block' : 'none';
            for (let element of hint_elements) {
                element.style.display = visibility;
            }
        }

        for (let element of elementUpdaters) {
            autoupdate_elements(element);
            change_hint_visibility(element);
            element.addEventListener("input", e => {
                autoupdate_elements(e.target);
                change_hint_visibility(e.target);
            });
        }

        const copyableElements = document.getElementsByClassName("copyable");
        const copyButtonTemplate = document.getElementById("copybutton_template");
        for (let element of copyableElements) {
            const copyButton = copyButtonTemplate.cloneNode(true);
            copyButton.removeAttribute('id');
            element.after(copyButton);
            copyButton.addEventListener('click', (event) => {
                const text = element.textContent;
                navigator.clipboard.writeText(text).then(() => {
                    /* clipboard successfully set */
                    copyButton.textContent = "✅";
                }, () => {
                    /* clipboard write failed */
                    copyButton.textContent = "❌";
                });
            });
        }
    </script>
    <script src="<%=app_url%>/emoji-wall.js?<%=code_version%>"></script>
    <script>
        const demo_emojis = ["😀", "😁", "😂", "😃", "😄", "😅", "😆", "😆", "😇", "😈", "😉", "😊", "😋", "😌", "😍", "😎", "😗", "😘", "😙", "😚", "😛", "😜", "😝", "😬", "😴", "🙂", "🙃", "🤓", "🤔", "🤖", "🤗", "🤞", "🤨", "🤩", "🤭", "🤯", "🐈", "🙉", "🐝", "🐿️", "🎉", "🥳", "🤔", "💛", "💙", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "❤️", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif", "<%=prefix%>/emotes/ufo.gif"];

        initializeEmojiwall({
            'canvasId': 'particles'
        });

        addEmojis(
                [
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)],
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)],
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)],
                    "<%=prefix%>/emotes/ufo.gif"
                ], '');
        // Add emojis every 6 seconds
        setInterval(function () {
            addEmojis(
                [
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)],
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)],
                    demo_emojis[Math.floor(Math.random() * demo_emojis.length)]
                ], '');
        }, 6000);
    </script>
</body>

</html>
