body {
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: 'San Francisco', Helvetica, Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    width: 350px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 14px;

}

.chat-message-container {
    margin-bottom: 15px;
    background: #F0F0F0;
    color: #111;
    border-radius: 12px;
    padding: 15px;
    line-height: 1.4em;
}

.user {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #147EFB;
}

.message p {
    padding: 0 !important;
    margin: 0;
}

img.emoji {
    height: 1.2em;
    vertical-align: middle;
}