html, body {
    color: #000;
    background-color: #FFF;
}

body {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    background-color: #ddd;
}

div#wrapper {
    max-width: 50%;
    z-index: 10;
    padding: 0px 2em;
    background-color: rgba(255,255,255,0.5);
    text-shadow: 0px 0px 8px white;
}

#header {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

#logo {
	height: 120px;
	width: auto;
	padding: 1em;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	flex-shrink: 0;
	flex-grow: 0;
}

h1 {
	flex-grow: 1;
	text-align: center;
}

.emoji {
    font-family: 'Noto Color Emoji';
}

.token_display {
    display: block;
    text-align: center;
    font-size: 200%;
    padding: 1em;
}

#input-owncast-hostname {
    margin-bottom: 0;
}
.empty-input-error {
	font-size: 75%;
	color: darkgoldenrod;
}
.info {
	font-size: 75%;
}
#input-owncast-hostname,
.url-wrapper {
    margin-top: 5px;
}


.copyable {
	margin-right: 0px;
	border-radius: 10px 0 0 10px;
}
button.copy {
	flex: 1 10;
	padding: 0;
	margin: 0;
    line-height: 0;
    border-radius: 0 10px 10px 0;
    font-size: 120%;
}

button#copybutton_template {
    display: none;
}

.owncast-hostname-display {
    word-break: break-all;
}

.jsversion-content {
    display: none;
}

div.url-wrapper {
    display: flex;
    justify-content: end;
}
code { 
    background-color: aliceblue;
}
code.copyable {
    background-color: moccasin;
    text-align: center;
}
code {
	font-size: 1.25em;
	flex: 10 1;
	padding: 6px 5px 5px 5px;
}
div.intro {
    margin-top: 2em;
    border: 2px solid #ddd;
	padding: 0 1em;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
}
div.intro > h2 {
    margin-top: 0.9rem;
}
.emojicon {
    font-size: large;
}
h3 .emojicon {
    font-size: x-large;
}
p#version {
    font-size: 80%;
}
p#version a {
    color: #555;
}

/* Demo Emoji Wall */
.container {
	position: fixed;
	width: auto;
	height: auto;
	top: 0;
	left: 0;
	z-index: 1;
	bottom: 0;
	right: 0;
    text-shadow: 0px 0px 17px #ddd;
}
a {
    font-weight: normal;
}
hr {
    background-color:#aaa;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
    html, body {
        color: #c5c3c1;
        background-color: #282a2b;
    }
    img#logo {
        background-color: rgba(255,255,255,0.2);
    }
    input {
        border-color: #333;
        background-color: #44484a;
        color: #eee;
    }
    .copyable {
        
    }
    div.intro {
        border-color: #444;
        background-color: rgba(0,0,0,0.3);
    }
    .emoji_item {
        text-shadow: 0px 0px 17px black;
    }
    div#wrapper {
        background-color: rgba(0,0,0,0.5);
        text-shadow: 0px 0px 8px black;
    }
    code {
        background-color: #333;
        color: #bbb;
        text-shadow: none;
    }
    code.copyable {
        background-color: #593b0d;
        color: #fff;
    }
    hr {
        background-color: #444;
    }
}


/* Responsive */

@media (min-width: 120px) and (max-width: 575px) {
    div#wrapper {
        max-width: 95%;
    }
    .token_display {
        font-size: 150%;
    }
    #logo {
        height: 100px;
    }

    h1 {
        font-size: x-large;
    }
}

@media (min-width: 576px) {
    div#wrapper {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    div#wrapper {
        max-width: 90%;
    }
    .token_display {
        font-size: 200%;
    }
    #logo {
        height: 200px;
    }
    h1 {
        font-size: xx-large;
    }
}

@media (min-width: 992px) {
    div#wrapper {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    div#wrapper {
        max-width: 50%;
    }
}

